*{
    margin: 0;
    padding: 0;
}

#cv-form{
    /* display: none; */
}

#cv-template{
    display: none;
}

.profile-photo{
    border: 1px solid black;
    border-radius: 50%;
    max-width: 170px;
}

.background{
    background-color: aqua;
}